.member-3-YXUe .layout-2DM8Md {
  padding-bottom: 0px;
  margin-bottom: 4px;
  border: 1px solid var(--background-tertiary);
  border-radius: 10px;
  background-color: var(--background-secondary-alt);
}