.unreadBar-3t3sYc {
  box-shadow: 0 0 0 1px var(--background-tertiary);;
  background-color: var(--background-tertiary);

  &:hover {
    background-color: var(--background-modifier-active);
  }

  > .text-2e2ZyG {
    color: var(--midnightcandy-rain);
  }
}