.slider-1PF9SW {
  .grabber-3mFHz2 {
    border-color: var(--midnightcandy-sky);
    background-color: var(--midnightcandy-sky);
  }

  .bar-2Qqk5Z {
    background-color: var(--midnightcandy-silver);

    .barFill-23-gu- {
      background-color: var(--midnightcandy-lilac);
    }
  }
}