#app-mount .root-1gCeng {
  background-color: var(--background-primary);

  .footer-2gL1pp,
  .message-2qRu38 {
    box-shadow: 0 0 0 1px black;
    background-color: var(--background-secondary-alt);
  }
}