#app-mount .keyboardShortcutsModal-3piNz7 {
  background-color: var(--background-secondary);

  .content-2Add9f {
    color: var(--midnightcandy-magenta);
  }

  .modalSubtitle-1Pj5nv {
    color: var(--midnightcandy-lichen);
  }

  .wrapper-1sSZUt {
    color: var(--midnightcandy-cotton-candy);
  }

  .keybindDescription-2RDbC2 {
    color: var(--midnightcandy-sky);
  }

  .keybindShortcut-1BD6Z1 span {
    margin: 3px;
    padding: 5px;
    box-shadow: 0 0 0 1px var(--background-tertiary);
    background-color: var(--background-modifier-selected);
  }

  .divider-3573oO {
    display: none;
  }
}