.theme-dark,
.theme-light,
:root {
  --midnightcandy-salmon: #f55625;
  --midnightcandy-brick: #e33c17;
  --midnightcandy-lilac: #9870cf;
  --midnightcandy-pink: lightpink;
  --midnightcandy-mint: #7ef2ae;
  --midnightcandy-light-grey: #b3b8c7;
  --midnightcandy-dark-grey: #797d8a;
  --midnightcandy-silver: #202225;
  --midnightcandy-sky: #7bdbdb;
  --midnightcandy-rain: #4398b5;
  --midnightcandy-cotton-candy: #ff75bc;
  --midnightcandy-orchid: #f47fff;
  --midnightcandy-forest: #56b07b;
  --midnightcandy-yellow: #f5c056;
  --midnightcandy-lichen: darkseagreen;
  --midnightcandy-magenta: #d12491;
  --background-accent: rgb(22, 22, 22);
  --background-primary: var(--background-accent);
  --background-secondary: rgb(17, 17, 17);
  --background-secondary-alt: rgb(13, 13, 13);
  --background-tertiary: rgb(1, 1, 1);
  --background-floating: var(--background-tertiary);
  --background-modifier-active: #1b1c1e;
  --background-modifier-selected: var(--background-modifier-active);
  --header-primary: rgb(255, 255, 255);
  --header-secondary: rgb(185, 187, 190);
  --interactive-normal: var(--midnightcandy-light-grey);
  --interactive-hover: var(--midnightcandy-rain);
  --interactive-active: var(--midnightcandy-orchid);
  --interactive-muted: rgb(90, 79, 79);
  --text-normal: rgb(220, 221, 222);
  --text-muted: var(--midnightcandy-dark-grey);
  --text-link: var(--midnightcandy-mint);
  --channels-default: var(--midnightcandy-light-grey);
  --channeltextarea-background: var(--background-secondary-alt);
  --radio-group-dot-foreground: var(--midnightcandy-rain);
  --scrollbar-auto-track: transparent;
  --scrollbar-thin-thumb: var(--background-tertiary);
  --scrollbar-auto-thumb: var(--midnightcandy-silver);
  --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-thin-thumb);
  --scrollbar-auto-scrollbar-color-track: var(--background-secondary);
  --background-mobile-primary: var(--background-primary);
  --background-mobile-secondary: var(--background-secondary);
  --background-modifier-hover: var(--background-primary);
  --background-mentioned: rgba(245, 192, 86, 0.05);
  --background-help-warning: rgba(250, 166, 26, 0.1);
  --background-help-info: rgba(0, 176, 244, 0.1);
  --toast-background: var(--background-primary);
  --toast-header: var(--background-tertiary);
  --toast-contents: var(--background-secondary);
  --toast-border: var(--background-tertiary);
  --toast-box-shadow: rgba(0, 0, 0, 0.2);
}

.circleIconButton-1QV--U {
  color: var(--midnightcandy-forest);
}
.circleIconButton-1QV--U.selected-1JjBPm {
  color: var(--midnightcandy-silver);
  background-color: var(--midnightcandy-forest);
}

.checkbox-f1HnKB {
  border-color: var(--midnightcandy-sky) !important;
}
.checkbox-f1HnKB.checked-1pZh2h {
  background: transparent !important;
}
.checkbox-f1HnKB.checked-1pZh2h svg path {
  fill: var(--midnightcandy-sky);
}

.slider-1NC-Gf .grabber-2GQyvM {
  border-color: var(--midnightcandy-sky);
  background-color: var(--midnightcandy-sky);
}
.slider-1NC-Gf .bar-1Bhnl9 {
  background-color: var(--midnightcandy-silver);
}
.slider-1NC-Gf .bar-1Bhnl9 .barFill-2Bh7CX {
  background-color: var(--midnightcandy-lilac);
}

#app-mount .lookFilled-yCfaCM.colorBrand-I6CyqQ {
  color: white;
  background-color: var(--midnightcandy-rain);
}
#app-mount .lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
  background-color: rgba(67, 152, 181, 0.85);
}
#app-mount .lookFilled-yCfaCM.colorBrand-I6CyqQ:active, #app-mount .lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled {
  background-color: rgba(67, 152, 181, 0.7);
}
#app-mount .lookFilled-yCfaCM.colorPrimary-2AuQVo {
  color: white;
  background-color: var(--midnightcandy-dark-grey);
}
#app-mount .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover {
  background-color: rgba(121, 125, 138, 0.85);
}
#app-mount .lookFilled-yCfaCM.colorPrimary-2AuQVo:active, #app-mount .lookFilled-yCfaCM.colorPrimary-2AuQVo:disabled {
  background-color: rgba(121, 125, 138, 0.7);
}
#app-mount .lookFilled-yCfaCM.colorGrey-2iAG-B {
  color: white;
  background-color: var(--midnightcandy-cotton-candy);
}
#app-mount .lookFilled-yCfaCM.colorGrey-2iAG-B:hover {
  background-color: rgba(255, 117, 188, 0.85);
}
#app-mount .lookFilled-yCfaCM.colorGrey-2iAG-B:active, #app-mount .lookFilled-yCfaCM.colorGrey-2iAG-B:disabled {
  background-color: rgba(255, 117, 188, 0.7);
}
#app-mount .lookFilled-yCfaCM.colorGreen-3y-Z79 {
  color: white;
  background-color: var(--midnightcandy-forest);
}
#app-mount .lookFilled-yCfaCM.colorGreen-3y-Z79:hover {
  background-color: rgba(86, 176, 123, 0.85);
}
#app-mount .lookFilled-yCfaCM.colorGreen-3y-Z79:active, #app-mount .lookFilled-yCfaCM.colorGreen-3y-Z79:disabled {
  background-color: rgba(86, 176, 123, 0.7);
}
#app-mount .lookFilled-yCfaCM.colorRed-rQXKgM {
  color: white;
  background-color: var(--midnightcandy-brick);
}
#app-mount .lookFilled-yCfaCM.colorRed-rQXKgM:hover {
  background-color: rgba(227, 60, 23, 0.85);
}
#app-mount .lookFilled-yCfaCM.colorRed-rQXKgM:active, #app-mount .lookFilled-yCfaCM.colorRed-rQXKgM:disabled {
  background-color: rgba(227, 60, 23, 0.7);
}
#app-mount .lookFilled-yCfaCM.actionRed-gYn8D3 {
  color: white;
  background-color: var(--midnightcandy-brick);
}
#app-mount .lookFilled-yCfaCM.actionRed-gYn8D3:hover {
  background-color: rgba(227, 60, 23, 0.85);
}
#app-mount .lookFilled-yCfaCM.actionRed-gYn8D3:active, #app-mount .lookFilled-yCfaCM.actionRed-gYn8D3:disabled {
  background-color: rgba(227, 60, 23, 0.7);
}

.lookOutlined-3yKVGo.colorBrand-I6CyqQ {
  color: var(--midnightcandy-rain);
  background-color: transparent;
  border-color: var(--midnightcandy-rain);
}
.lookOutlined-3yKVGo.colorPrimary-2AuQVo {
  color: var(--midnightcandy-dark-grey);
  background-color: transparent;
  border-color: var(--midnightcandy-dark-grey);
}
.lookOutlined-3yKVGo.colorGrey-2iAG-B {
  color: var(--midnightcandy-cotton-candy);
  background-color: transparent;
  border-color: var(--midnightcandy-cotton-candy);
}
.lookOutlined-3yKVGo.colorGreen-3y-Z79 {
  color: var(--midnightcandy-forest);
  background-color: transparent;
  border-color: var(--midnightcandy-forest);
}
.lookOutlined-3yKVGo.colorRed-rQXKgM {
  color: var(--midnightcandy-brick);
  background-color: transparent;
  border-color: var(--midnightcandy-brick);
}
.lookOutlined-3yKVGo.actionRed-gYn8D3 {
  color: var(--midnightcandy-brick);
  background-color: transparent;
  border-color: var(--midnightcandy-brick);
}

#guild-header-popout-invite-people {
  color: #4398b5;
}
#guild-header-popout-invite-people:active:not(.hideInteraction-2jPGL_) {
  color: white;
  background-color: rgba(67, 152, 181, 0.65);
}
#guild-header-popout-invite-people:active:not(.hideInteraction-2jPGL_) .icon-E4cW1l path {
  fill: white;
}
#guild-header-popout-invite-people .icon-E4cW1l path {
  fill: #4398b5;
}
#guild-header-popout-invite-people.focused-3qFvc8 {
  color: white;
  background-color: rgba(67, 152, 181, 0.15);
}
#guild-header-popout-invite-people.focused-3qFvc8 .icon-E4cW1l path {
  fill: white;
}

#guild-header-popout-premium-subscribe {
  color: #d12491;
}
#guild-header-popout-premium-subscribe:active:not(.hideInteraction-2jPGL_) {
  color: white;
  background-color: rgba(209, 36, 145, 0.65);
}
#guild-header-popout-premium-subscribe:active:not(.hideInteraction-2jPGL_) .icon-E4cW1l path {
  fill: white;
}
#guild-header-popout-premium-subscribe .icon-E4cW1l path {
  fill: #d12491;
}
#guild-header-popout-premium-subscribe.focused-3qFvc8 {
  color: white;
  background-color: rgba(209, 36, 145, 0.15);
}
#guild-header-popout-premium-subscribe.focused-3qFvc8 .icon-E4cW1l path {
  fill: white;
}

.colorDanger-3n-KnP {
  color: var(--midnightcandy-brick);
}
.colorDanger-3n-KnP.focused-3qFvc8, .colorDanger-3n-KnP:active:not(.hideInteraction-2jPGL_) {
  background-color: var(--midnightcandy-brick);
}

.colorDefault-CDqZdO:not([class*=Danger]) {
  color: #b3b8c7;
}
.colorDefault-CDqZdO:not([class*=Danger]):active:not(.hideInteraction-2jPGL_) {
  color: white;
  background-color: rgba(179, 184, 199, 0.5);
}
.colorDefault-CDqZdO:not([class*=Danger]):active:not(.hideInteraction-2jPGL_) .icon-E4cW1l path {
  fill: white;
}
.colorDefault-CDqZdO:not([class*=Danger]) .icon-E4cW1l path {
  fill: #b3b8c7;
}
.colorDefault-CDqZdO:not([class*=Danger]).focused-3qFvc8 {
  color: white;
  background-color: rgba(179, 184, 199, 0.15);
}
.colorDefault-CDqZdO:not([class*=Danger]).focused-3qFvc8 .icon-E4cW1l path {
  fill: white;
}

.colorDefault-CDqZdO .radioSelection-1UHp0b {
  color: var(--radio-group-dot-foreground);
}

.radioBar-3w9XY- {
  border-width: 4px;
}
.radioBar-3w9XY-[style*="#43b58"] {
  --radio-bar-accent-color: var(--midnightcandy-forest) !important;
}
.radioBar-3w9XY-[style*="#faa61a"] {
  --radio-bar-accent-color: var(--midnightcandy-yellow) !important;
}
.radioBar-3w9XY-[style*="#f57731"] {
  --radio-bar-accent-color: #f58b3e !important;
}
.radioBar-3w9XY-[style*="#f04747"] {
  --radio-bar-accent-color: var(--midnightcandy-brick) !important;
}

.selectedBrand-1AtwYE {
  background-color: var(--midnightcandy-rain);
}
.selectedBrand-1AtwYE:hover {
  background-color: rgba(67, 152, 181, 0.65);
}

.item-3XjbnG.themed-2-lozF[style*="rgb(240, 71, 71)"] {
  color: var(--midnightcandy-brick) !important;
}
.item-3XjbnG.themed-2-lozF[style*="rgb(240, 71, 71)"]:active, .item-3XjbnG.themed-2-lozF[style*="rgb(240, 71, 71)"][aria-selected=true] {
  color: white !important;
  background-color: rgba(227, 60, 23, 0.9) !important;
}
.item-3XjbnG.themed-2-lozF[style*="rgb(114, 137, 218)"] {
  color: var(--midnightcandy-sky) !important;
}
.item-3XjbnG.themed-2-lozF[style*="rgb(114, 137, 218)"]:active, .item-3XjbnG.themed-2-lozF[style*="rgb(114, 137, 218)"][aria-selected=true] {
  color: white !important;
  background-color: rgba(123, 219, 219, 0.5) !important;
}

#app-mount .item-2OyinQ {
  border-color: var(--background-tertiary);
}
#app-mount .item-2OyinQ.selectorButton-3sW6Qm:hover {
  background: transparent;
}
#app-mount .item-2OyinQ.selectorButton-3sW6Qm.selectorButtonSelected-3Z0WNU {
  background-color: var(--midnightcandy-rain);
}

.container-2nx-BQ .slider-32CRPX path {
  fill: black;
}
.container-2nx-BQ .slider-32CRPX rect {
  fill: white;
}
.container-2nx-BQ[style*="rgb(67, 181, 129)"] {
  background-color: var(--midnightcandy-forest) !important;
}
.container-2nx-BQ[style*="rgb(114, 118, 125)"] {
  background-color: var(--midnightcandy-silver) !important;
}

#app-mount .videoControls-2NzHnF .buffer-3eVqKK, #app-mount .videoControls-2NzHnF .buffer-3eVqKK::before {
  background: transparent;
}
#app-mount .videoControls-2NzHnF .mediaBarProgress-38I317, #app-mount .videoControls-2NzHnF .mediaBarProgress-38I317::before, #app-mount .videoControls-2NzHnF .mediaBarProgress-38I317::after {
  background-color: var(--midnightcandy-rain);
}
#app-mount .videoControls-2NzHnF .mediaBarGrabber-FvJKJg {
  background-color: var(--midnightcandy-magenta);
}
#app-mount .videoControls-2NzHnF .mediaBarWrapper-33h1oY, #app-mount .videoControls-2NzHnF .mediaBarWrapper-33h1oY::after {
  background-color: var(--midnightcandy-dark-grey);
}

.autocompleteInner-y1mjDl {
  background-color: var(--background-secondary-alt);
}
.autocompleteInner-y1mjDl .selected-3H3-RC {
  background-color: var(--background-primary);
}

#app-mount .searchAnswer-23w-CH,
#app-mount .searchFilter-2UfsDk {
  color: var(--text-normal);
  background-color: var(--background-secondary);
}
#app-mount .datePicker-70cO23 {
  background-color: var(--background-secondary-alt);
}

#app-mount .calendarPicker-sDhzdi .react-datepicker {
  background-color: inherit;
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__header {
  background-color: inherit;
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__current-month {
  color: var(--midnightcandy-lilac);
  border: none;
  font-size: 20px;
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__navigation--next, #app-mount .calendarPicker-sDhzdi .react-datepicker__navigation--previous {
  border-color: var(--background-tertiary);
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__day {
  border-color: black;
  color: var(--midnightcandy-magenta);
  background-color: var(--background-modifier-hover);
  font-weight: 550;
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__day:hover {
  background-color: var(--background-secondary);
  font-weight: bolder;
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__day--selected::after {
  background-color: #8a5ea3;
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__day--outside-month {
  opacity: 0.5;
  color: var(--midnightcandy-sky);
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__day--outside-month:hover {
  opacity: initial;
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__day--disabled, #app-mount .calendarPicker-sDhzdi .react-datepicker__day--disabled:hover {
  opacity: 0.2;
  color: var(--midnightcandy-brick);
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__day-name {
  color: var(--interactive-active);
  font-weight: 700;
}

#app-mount .game-3x3aDt .gameNameInput-3TuPuA:hover, #app-mount .uploadModal-2ie9O_ .scrollableContainer-15eg7h:hover, .inputDefault-3FGxgL:hover, #app-mount .emojiInput-1aLNse:hover {
  border-color: rgba(123, 219, 219, 0.3);
}
#app-mount .game-3x3aDt .gameNameInput-3TuPuA:focus, #app-mount .uploadModal-2ie9O_ .scrollableContainer-15eg7h:focus:hover, .inputDefault-3FGxgL:focus, #app-mount .emojiInput-1aLNse:focus {
  border-color: var(--midnightcandy-cotton-candy);
}

.newMessagesBar-1hF-9G, .jumpToPresentBar-1cEnH0 {
  border-radius: 8px;
  background-color: var(--background-secondary);
  border: 1px solid var(--background-tertiary);
}
.newMessagesBar-1hF-9G:hover, .jumpToPresentBar-1cEnH0:hover {
  box-shadow: none;
  background-color: var(--background-secondary-alt);
}

.barButtonBase-Sk2mdB {
  color: var(--midnightcandy-sky);
}

.newMessagesBar-1hF-9G {
  top: 7px;
  height: 28px;
}

.jumpToPresentBar-1cEnH0 {
  bottom: 13px;
  max-height: 10px;
  padding-bottom: 2px;
}

.mention.wrapper-1ZcZW- {
  color: var(--midnightcandy-rain);
  background-color: rgba(123, 219, 219, 0.1);
}
.mention.wrapper-1ZcZW-:hover {
  filter: brightness(140%);
}

#app-mount .message-2CShn3:hover {
  background-color: var(--background-secondary-alt);
}
#app-mount .message-2CShn3 .contents-2MsGLg > .messageContent-2t3eCI {
  color: var(--midnightcandy-orchid);
}
#app-mount .message-2CShn3.mentioned-Tre-dv::before {
  background-color: var(--midnightcandy-yellow);
}
#app-mount .message-2CShn3.ephemeral-2nDdnn, #app-mount .message-2CShn3.replying-eZ7p5z {
  background-color: rgba(67, 152, 181, 0.075);
}
#app-mount .message-2CShn3.ephemeral-2nDdnn::before, #app-mount .message-2CShn3.replying-eZ7p5z::before {
  background-color: var(--midnightcandy-sky);
}
#app-mount .message-2CShn3 .edited-1v5nT8,
#app-mount .message-2CShn3 .timestamp-p1Df1m {
  color: var(--midnightcandy-cotton-candy);
}
#app-mount .message-2CShn3 .repliedMessage-3Z6XBG::before {
  border-color: var(--midnightcandy-silver);
}
#app-mount .message-2CShn3 .repliedMessage-3Z6XBG .replyBadge-LMm_Ic {
  background: transparent;
}
#app-mount .message-2CShn3 .repliedMessage-3Z6XBG .replyIcon-20gA8D {
  width: 20px;
  height: 10px;
}
#app-mount .message-2CShn3 .repliedMessage-3Z6XBG .replyIcon-20gA8D path {
  fill: white;
}
#app-mount .message-2CShn3 .repliedMessage-3Z6XBG .repliedTextPreview-1bvxun {
  color: var(--midnightcandy-magenta);
}
#app-mount .message-2CShn3 .repliedMessage-3Z6XBG .repliedTextPreview-1bvxun:hover {
  filter: brightness(125%);
}
#app-mount .message-2CShn3 .wrapper-2vIMkT {
  background-color: var(--background-tertiary);
}
#app-mount .message-2CShn3 .wrapper-2vIMkT .button-3bklZh {
  color: var(--midnightcandy-light-grey);
}
#app-mount .message-2CShn3 .wrapper-2vIMkT .button-3bklZh:hover:not(.dangerous-Y36ifs) {
  background-color: var(--background-modifier-selected);
}
#app-mount .message-2CShn3 .wrapper-2vIMkT .button-3bklZh.dangerous-Y36ifs {
  color: var(--midnightcandy-brick);
}
#app-mount .message-2CShn3 .wrapper-2vIMkT .button-3bklZh.dangerous-Y36ifs:hover {
  color: white;
  background-color: var(--midnightcandy-brick);
}

.isUnread-3Lojb- {
  border-color: var(--midnightcandy-brick);
}
.isUnread-3Lojb- > .unreadPill-3nEWYM {
  background-color: var(--midnightcandy-brick);
}
.isUnread-3Lojb- > .unreadPill-3nEWYM path {
  fill: var(--midnightcandy-brick);
  color: var(--midnightcandy-brick);
}

#app-mount #search-results {
  border-radius: 15px;
  background-color: var(--background-secondary-alt);
  box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
#app-mount #search-results .queryContainer-ZunrLZ {
  border-color: var(--background-tertiary);
}
#app-mount #search-results .focused-2FU0YH {
  border-color: var(--background-primary);
  background-color: var(--background-tertiary);
}
#app-mount #search-results .focused-2FU0YH .keybindShortcut-3zF1P9 span {
  color: var(--interactive-hover);
  background-color: var(--background-modifier-selected);
}
#app-mount #search-results .option-2KkUJO::after {
  background: transparent;
}
#app-mount #search-results .option-2KkUJO.selected-rZcOL- {
  border-radius: 10px;
  border: 1px solid var(--background-tertiary);
  background-color: var(--background-tertiary);
}
#app-mount #search-results .option-2KkUJO.selected-rZcOL-::before {
  padding-left: 10px;
  background-color: var(--background-primary);
}
#app-mount #search-results .option-2KkUJO .displayedNick-2dDbfG {
  color: var(--text-normal);
}
#app-mount #search-results strong,
#app-mount #search-results .searchResultChannelIcon-1Il1Qo {
  color: var(--midnightcandy-sky);
}
#app-mount #search-results .resultsGroup-1BPR25 .header-3A13BX {
  font-weight: 625;
  color: var(--midnightcandy-rain) !important;
}
#app-mount #search-results .resultsGroup-1BPR25::before {
  display: none;
}
#app-mount #search-results .keybindShortcut-3zF1P9 span {
  box-shadow: none;
  margin: none;
  color: var(--text-normal);
  border: 1px solid var(--background-tertiary);
  background-color: var(--background-tertiary);
}

#app-mount .root-u9h3Ui.tile-2TcwiO {
  background-color: var(--background-secondary);
}
#app-mount .streamPreview-3qoMP4,
#app-mount .emptyPreviewContainer-b9lc6i,
#app-mount .quickSelectPopout-2F0PXw.regionSelectPopout-3sEzVB {
  background-color: var(--background-tertiary);
}
#app-mount .live-1V2D-f {
  background-color: var(--midnightcandy-brick) !important;
}
#app-mount .participantsButton-1WBdFP, #app-mount .participantsButton-1WBdFP:hover {
  background-color: var(--background-primary);
}

.channelTextArea-1FufC0 .scrollableContainer-15eg7h {
  border-radius: 10px;
}
.channelTextArea-1FufC0 .container-A2jo65 {
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: var(--channeltextarea-background);
}
.channelTextArea-1FufC0 .container-A2jo65 .colorBrand-21Le_q {
  color: var(--interactive-active);
}
.channelTextArea-1FufC0 .container-A2jo65 .colorMuted-20987_ {
  color: var(--midnightcandy-sky);
}
.channelTextArea-1FufC0 .container-A2jo65 [class*=color]:hover {
  color: var(--midnightcandy-rain);
}

.callContainer-HtHELf .background-L8lGH6[style*="rgb(21, 18, 18)"],
.videoBackgroundTransition-Pn9nCS .background-L8lGH6[style*="rgb(21, 18, 18)"] {
  background-color: var(--background-tertiary) !important;
}

#app-mount .callContainer-HtHELf {
  background-color: var(--background-secondary-alt);
}
#app-mount .callContainer-HtHELf .voiceAvatar-lRbblo + .status-1ZXjSF {
  background: var(--midnightcandy-brick);
}
#app-mount .callContainer-HtHELf .emptyPreviewWrapper-NIyTYh {
  filter: brightness(10%);
  background-color: var(--background-tertiary);
}
#app-mount .callContainer-HtHELf .border-2Vy6FN.speaking-7QZEkv {
  box-shadow: inset 0 0 0 2px var(--midnightcandy-forest), inset 0 0 0 3px black;
}
#app-mount .callContainer-HtHELf .bottomControls-31YuPK .primaryDark-2UJt1G {
  background-color: var(--background-primary);
}
#app-mount .callContainer-HtHELf .bottomControls-31YuPK .white-11auuQ {
  background-color: var(--midnightcandy-magenta);
}
#app-mount .callContainer-HtHELf .bottomControls-31YuPK .white-11auuQ .centerIcon-JYpTUi,
#app-mount .callContainer-HtHELf .bottomControls-31YuPK .white-11auuQ .directionDown-2w0MZz {
  color: white;
}
#app-mount .callContainer-HtHELf .bottomControls-31YuPK .white-11auuQ .centerIcon-JYpTUi .slash-2yrR11,
#app-mount .callContainer-HtHELf .bottomControls-31YuPK .white-11auuQ .directionDown-2w0MZz .slash-2yrR11 {
  fill: white;
}
#app-mount .callContainer-HtHELf .bottomControls-31YuPK .red-3T8maV {
  background-color: var(--midnightcandy-brick);
}

#app-mount .auditLog-3jNbM6 {
  border: 1px solid var(--background-tertiary);
}
#app-mount .auditLog-3jNbM6 [aria-expanded=true] {
  box-shadow: none;
  background-color: var(--background-secondary-alt);
}
#app-mount .auditLog-3jNbM6 [aria-expanded=false] {
  background-color: var(--background-secondary);
}
#app-mount .auditLog-3jNbM6 .divider-1pnAR2 {
  background-color: var(--background-tertiary);
}
#app-mount .auditLog-3jNbM6 > .changeDetails-bk98pu {
  background: transparent;
}
#app-mount .quickSelect-384d3G[style*="flex: 1 1 auto;"] > .quickSelectLabel-ArUyd9 {
  color: var(--midnightcandy-forest);
}

.content-22JeIO {
  background-color: var(--background-primary);
}
.content-22JeIO .tierInProgress-1vFUnw {
  background-color: var(--background-tertiary);
}
.content-22JeIO .bar-FCMoKY {
  color: var(--background-tertiary);
}
.content-22JeIO .tierHeaderContent-2-YfvN {
  border-width: 1px;
  border-style: solid solid none solid;
  border-color: black;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: var(--background-secondary-alt);
}
.content-22JeIO .tierHeaderContent-2-YfvN > .tierLock-1oFMOZ path {
  fill: var(--midnightcandy-dark-grey);
}
.content-22JeIO .tierBody-x9kBBp {
  border: 1px solid var(--background-tertiary);
  background-color: var(--background-secondary);
}
.content-22JeIO .tierBody-x9kBBp .previousPerks-Dc7vdK {
  font-weight: 515;
  color: var(--midnightcandy-magenta);
}
.content-22JeIO .tierBody-x9kBBp .perks-2Ve4tD {
  color: var(--midnightcandy-orchid);
}
.content-22JeIO ~ .divider-Uf0Wob {
  margin: 20px 0;
  background: none;
}
.content-22JeIO ~ .wrapper-1hrFc0 > h3 {
  color: var(--midnightcandy-sky);
}

.containerDefault-3TQ5YN .name-3BUDLf,
.containerDefault-3TQ5YN .wrapper-1S43wv {
  color: var(--midnightcandy-sky);
}

.userLimit-VbEkeM > .wrapper-2fEmwW {
  border: 1px solid var(--background-tertiary);
}

.containerDefault-YUSmu3 .icon-2W8DHg,
.containerDefault-YUSmu3 .channelName-3KPsGw {
  color: var(--midnightcandy-cotton-candy);
}
.containerDefault-YUSmu3:hover .icon-2W8DHg,
.containerDefault-YUSmu3:hover .channelName-3KPsGw {
  color: var(--midnightcandy-magenta);
}
.containerDefault-YUSmu3 .unread-36eUEm {
  background-color: var(--midnightcandy-rain);
}
.containerDefault-YUSmu3 .modeUnread-3Cxepe .icon-2W8DHg,
.containerDefault-YUSmu3 .modeUnread-3Cxepe .channelName-3KPsGw {
  color: var(--midnightcandy-rain);
}
.containerDefault-YUSmu3 .modeMuted-2T4MDZ .icon-2W8DHg,
.containerDefault-YUSmu3 .modeMuted-2T4MDZ .channelName-3KPsGw {
  color: var(--interactive-muted);
}
.containerDefault-YUSmu3 .modeSelected-3DmyhH .icon-2W8DHg,
.containerDefault-YUSmu3 .modeSelected-3DmyhH .channelName-3KPsGw {
  color: var(--midnightcandy-salmon);
}

.checklist-3Y6Fqp,
.checklistContainer-mFJZEJ {
  border: 1px solid var(--background-tertiary);
}
.checklist-3Y6Fqp > .separator-2qVfIV,
.checklist-3Y6Fqp > .separator-1COOpU,
.checklistContainer-mFJZEJ > .separator-2qVfIV,
.checklistContainer-mFJZEJ > .separator-1COOpU {
  opacity: 0.9;
  background-color: black;
}

#app-mount .colorPickerCustom-1swUKF {
  border: none;
  border-radius: 10px;
  right: 80px;
  position: relative;
  box-shadow: 0 0 0 2px black;
  background-color: var(--background-secondary-alt);
}
#app-mount .emojiInput-1aLNse {
  background-color: var(--background-secondary);
}

.overflowRolesPopout-1Puiuq[class*=popout] {
  overflow: auto;
}
.overflowRolesPopout-1Puiuq[class*=popout]::-webkit-scrollbar {
  display: none;
}
.overflowRolesPopout-1Puiuq[class*=popout],
.overflowRolesPopout-1Puiuq .overflowRolesPopoutArrow-2R7g3K {
  box-shadow: 0 0 0 1px var(--background-tertiary);
  background-color: var(--background-secondary-alt);
}
.overflowRolesPopout-1Puiuq .overflowRolesPopoutHeaderText-3HyHGv {
  color: var(--midnightcandy-forest);
}
.overflowRolesPopout-1Puiuq .overflowRolesPopoutHeaderIcon-2LIuSc path {
  fill: var(--midnightcandy-forest);
}

.member-2gU6Ar .layout-1qmrhw {
  padding-bottom: 0px;
  margin-bottom: 4px;
  border: 1px solid var(--background-tertiary);
  border-radius: 10px;
  background-color: var(--background-secondary-alt);
}

.roleRemoveIcon-387wKV {
  cursor: pointer;
}
.roleRemoveIcon-387wKV path {
  fill: black;
}

.container-2O1UgZ {
  border-color: var(--background-tertiary);
  background-color: var(--background-secondary);
}

.unreadBar-elBRZx {
  box-shadow: 0 0 0 1px var(--background-tertiary);
  background-color: var(--background-tertiary);
}
.unreadBar-elBRZx:hover {
  background-color: var(--background-modifier-active);
}
.unreadBar-elBRZx > .text-2GsXbW {
  color: var(--midnightcandy-rain);
}

.childWrapper-1j_1ub::before {
  content: "";
  background: url("https://raw.githubusercontent.com/spinfish/midnight-candy-powercord/master/source/images/lollipop.svg") center/100% no-repeat;
  padding: 32.5px;
}
.childWrapper-1j_1ub svg {
  display: none;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub {
  background-color: var(--midnightcandy-lichen);
}

.inputDefault-3FGxgL {
  border-color: var(--background-tertiary);
}

.unreadMentionsBar-ZXXoOH.mention-3XBnnZ {
  background-color: var(--midnightcandy-brick);
}

.numberBadge-37OJ3S {
  background-color: var(--midnightcandy-brick) !important;
}

#app-mount .button-1yVL_7 {
  box-shadow: 0 0 0 1px black;
  background-color: var(--background-tertiary);
}
#app-mount .header-2Kx1US {
  color: var(--midnightcandy-lilac);
}
#app-mount .card-16VQ8C {
  border-color: var(--background-tertiary);
  background-color: var(--background-secondary-alt);
}
#app-mount .css-gvi9bl-control {
  border-color: var(--background-tertiary);
}
#app-mount .css-3vaxre-menu {
  border-color: var(--background-tertiary);
  background-color: var(--background-secondary);
}
#app-mount .card-2ART2V {
  box-shadow: none;
}
#app-mount .card-2ART2V::before {
  border-color: var(--background-tertiary);
  background-color: var(--background-secondary-alt);
}
#app-mount .elevationHigh-28Pty4 {
  background-color: var(--background-secondary-alt) !important;
}
#app-mount .h2-1EaYVL.defaultColor-2cKwKo {
  color: var(--midnightcandy-cotton-candy);
}
#app-mount .divider-3wNib3 {
  border-color: black !important;
}

.updateIconForeground-2V_zo4 {
  fill: var(--midnightcandy-forest);
}

#app-mount .scroller-Q9d9Di {
  box-shadow: 0 0 2px 2px var(--background-tertiary);
  background-color: var(--background-secondary);
}
#app-mount .scroller-Q9d9Di .colorHeaderPrimary-jN_yGr {
  color: var(--midnightcandy-sky);
}
#app-mount .scroller-Q9d9Di .button-1cRKG6 {
  background-color: rgba(67, 152, 181, 0.8);
}
#app-mount .scroller-Q9d9Di .button-1cRKG6:hover {
  background-color: rgba(67, 152, 181, 0.65);
}

#app-mount .theme-light .root-g14mjS {
  box-shadow: none;
  background-color: var(--background-secondary-alt);
}
#app-mount .theme-light .root-g14mjS .colorHeaderPrimary-jN_yGr {
  color: var(--midnightcandy-sky);
}
#app-mount .theme-light .root-g14mjS .container-x8Y1ix {
  border-color: var(--background-tertiary);
  background-color: var(--background-primary);
}
#app-mount .theme-light .root-g14mjS .container-x8Y1ix:hover {
  background-color: var(--midnightcandy-silver);
}
#app-mount .theme-light .root-g14mjS .sampleLink-5BWNy9 {
  color: var(--midnightcandy-magenta);
}
#app-mount .theme-light .root-g14mjS .footer-31IekZ {
  box-shadow: none;
  border-top: 1.5px solid var(--background-tertiary);
  background-color: var(--background-secondary-alt);
}
#app-mount .theme-light .root-g14mjS .footer-31IekZ .footerTitle-3Bslxi {
  color: var(--midnightcandy-rain);
  margin-bottom: 16px;
}
#app-mount .theme-light .root-g14mjS .footer-31IekZ .sizeMin-DfpWCE {
  color: var(--midnightcandy-sky);
}
#app-mount .theme-light .root-g14mjS .footer-31IekZ .footerButton-24QPis.lookFilled-yCfaCM {
  box-shadow: 0 0 0 1px black;
  background-color: rgba(86, 176, 123, 0.6);
}
#app-mount .theme-light .root-g14mjS .footer-31IekZ .footerButton-24QPis.lookFilled-yCfaCM:hover {
  background-color: rgba(86, 176, 123, 0.5);
}

#app-mount .root-g14mjS {
  background-color: var(--background-primary);
}
#app-mount .root-g14mjS .footer-31IekZ,
#app-mount .root-g14mjS .message-G6O-Wv {
  box-shadow: 0 0 0 1px black;
  background-color: var(--background-secondary-alt);
}

.focusLock-2tveLW .root-g14mjS {
  border: none;
  background-color: var(--background-primary);
  box-shadow: 0 0 5px 1px black;
}
.focusLock-2tveLW .scroller-2GkvCq {
  width: auto;
  border-right: 1px solid var(--background-tertiary);
  background-color: var(--background-secondary-alt);
}
.focusLock-2tveLW .scroller-2GkvCq .size14-3fJ-ot {
  padding-right: 4px;
}
.focusLock-2tveLW .reactors-1VXca7 {
  width: 85%;
  background-color: var(--background-secondary);
}
.focusLock-2tveLW .reactors-1VXca7::-webkit-scrollbar-thumb {
  background-color: var(--background-tertiary);
}
.focusLock-2tveLW .reactor-1J25Qp {
  box-shadow: none;
}

#app-mount .keyboardShortcutsModal-2CRmCm {
  background-color: var(--background-secondary);
}
#app-mount .keyboardShortcutsModal-2CRmCm .content-1i_k8f {
  color: var(--midnightcandy-magenta);
}
#app-mount .keyboardShortcutsModal-2CRmCm .modalSubtitle-2lx7qk {
  color: var(--midnightcandy-lichen);
}
#app-mount .keyboardShortcutsModal-2CRmCm .wrapper-1HSdhi {
  color: var(--midnightcandy-cotton-candy);
}
#app-mount .keyboardShortcutsModal-2CRmCm .keybindDescription-oXh6w_ {
  color: var(--midnightcandy-sky);
}
#app-mount .keyboardShortcutsModal-2CRmCm .keybindShortcut-3zF1P9 span {
  margin: 3px;
  padding: 5px;
  box-shadow: 0 0 0 1px var(--background-tertiary);
  background-color: var(--background-modifier-selected);
}
#app-mount .keyboardShortcutsModal-2CRmCm .divider-_0um2u {
  display: none;
}

.quickswitcher-pKcM9U {
  box-shadow: 0 0 2px 2px var(--background-tertiary);
  background-color: var(--background-secondary-alt);
}
.quickswitcher-pKcM9U > .scrollerBase-_bVAAt {
  background-color: inherit;
}
.quickswitcher-pKcM9U > .scrollerBase-_bVAAt::-webkit-scrollbar {
  width: 10px;
}
.quickswitcher-pKcM9U > .input-3r5zZY {
  border: 1px solid var(--background-tertiary);
  background-color: var(--background-primary);
}
.quickswitcher-pKcM9U .header-1ZpMzy {
  color: rgba(123, 219, 219, 0.95);
}
.quickswitcher-pKcM9U .resultFocused-3aIoYe {
  background-color: rgba(209, 36, 145, 0.1);
}
.quickswitcher-pKcM9U .resultFocused-3aIoYe::before {
  content: "";
  position: absolute;
  border: 1px solid var(--midnightcandy-magenta);
  height: 100%;
}
.quickswitcher-pKcM9U .badge-3k1jbq {
  background-color: var(--midnightcandy-brick);
  width: 16px !important;
  padding: inherit;
  margin-left: 1px;
  border-radius: 8px;
  line-height: 16px;
  font-weight: 600;
  text-align: center;
}

#app-mount .uploadModal-2ie9O_ {
  box-shadow: 0 0 2px 2px var(--background-tertiary);
  background-color: var(--background-primary);
}
#app-mount .uploadModal-2ie9O_ .filename-1r50Xu {
  color: var(--midnightcandy-rain);
  margin-bottom: 6px;
}
#app-mount .uploadModal-2ie9O_ .filename-1r50Xu + .colorHeaderSecondary-g5teka {
  color: var(--midnightcandy-orchid);
}
#app-mount .uploadModal-2ie9O_ .filename-1r50Xu + .colorHeaderSecondary-g5teka strong {
  color: var(--midnightcandy-forest);
}
#app-mount .uploadModal-2ie9O_ .icon-HW4tZ-:not(.image-2ssF8k) {
  filter: invert(0.95);
}
#app-mount .uploadModal-2ie9O_ .scrollableContainer-15eg7h {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  transition-duration: 0.2s;
  transition-property: border-color, background-color;
  transition-timing-function: ease-in-out;
}
#app-mount .uploadModal-2ie9O_ .footer-VCsJQY {
  box-shadow: none;
  background-color: var(--background-secondary-alt);
}

.uploadModalIn-2w48Zf .uploadDropModal-13Kd20,
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF {
  background-color: var(--background-primary);
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS {
  border-color: var(--midnightcandy-sky);
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v {
  color: var(--midnightcandy-magenta);
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v > strong {
  color: var(--midnightcandy-lichen);
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .icons-1UZPvE {
  filter: invert(0.95);
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .instructions-272j2A {
  color: var(--midnightcandy-salmon);
}

#app-mount .pageWrapper-2PwDoS {
  background-color: var(--background-primary);
}
#app-mount .categoryItem-1QIroW {
  color: var(--midnightcandy-sky);
}
#app-mount .categoryItem-1QIroW.selectedCategoryItem-FHKU_o > div {
  color: var(--midnightcandy-magenta);
  background-color: var(--background-modifier-selected);
}
#app-mount .discoverHeader-Ijkm_M {
  color: var(--midnightcandy-cotton-candy);
}
#app-mount .guildListSection-3UxZHY > .guildList-3GXKvP .card-2TuZPZ {
  box-shadow: 0 0 0 1px var(--background-tertiary);
}
#app-mount .guildListSection-3UxZHY > .wrapper-1HSdhi {
  color: var(--midnightcandy-sky);
}

#app-mount .itemCard-3Etziu .body-16rSsp {
  background-color: inherit;
}
#app-mount .itemCard-3Etziu .section-3G9aLW {
  margin-top: 7.5px;
  background-color: var(--background-secondary);
}
#app-mount .itemCard-3Etziu .separator-2OaeRP {
  display: none;
}
#app-mount .itemCard-3Etziu.interactive-2zD88a:not(.active-1W_Gl9):hover {
  background-color: var(--background-secondary-alt);
}
#app-mount .itemCard-3Etziu.active-1W_Gl9 {
  background-color: var(--background-tertiary);
}

.peopleColumn-1wMU14 {
  background-color: var(--background-accent);
}
.peopleColumn-1wMU14 .peopleListItem-u6dGxF {
  border-radius: 10px;
  padding: 0 15px;
  margin-bottom: 4px;
  background-color: var(--background-secondary-alt);
  border: 1px solid var(--background-secondary-alt);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

#app-mount .perksModalContentWrapper-2HU6uL {
  background-color: var(--background-primary);
}
#app-mount .perksModalContentWrapper-2HU6uL h3:not(.headingTier1-K4ha7e) {
  color: var(--midnightcandy-sky);
}
#app-mount .perksModalContentWrapper-2HU6uL .barBackground-unEPDT {
  background-color: var(--background-tertiary);
}
#app-mount .perksModalContentWrapper-2HU6uL .tierMarkerContainer-18QTgJ :first-child.tierMarkerInProgress-2Tdxjz {
  background-color: var(--background-primary) !important;
}
#app-mount .perksModalContentWrapper-2HU6uL .tierMarkerGroup-2udhIi :not(.selectedTier-24Xj0k)[class*=Accomplished].tierMarkerSelectable-2WVYV- {
  background-color: var(--midnightcandy-orchid) !important;
}
#app-mount .perksModalContentWrapper-2HU6uL .tierMarkerGroup-2udhIi :not(.selectedTier-24Xj0k) :not([class*=Accomplished]).tierMarkerSelectable-2WVYV- {
  background-color: var(--background-primary) !important;
}
#app-mount .perksModalContentWrapper-2HU6uL .tierMarkerGroup-2udhIi .tierMarkerBackground-G8FoN4 {
  box-shadow: 0 0 0 1px var(--background-tertiary);
  background-color: var(--background-secondary-alt);
}
#app-mount .perksModalContentWrapper-2HU6uL .tierHeader---JJFb {
  border-width: 1px;
  border-color: black;
  border-style: solid solid none solid;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: var(--background-tertiary);
}
#app-mount .perksModalContentWrapper-2HU6uL .tierHeader---JJFb > .tierLock-3CSxSX {
  color: var(--midnightcandy-dark-grey);
}
#app-mount .perksModalContentWrapper-2HU6uL .tierHeaderUnlocked-1n-OTI {
  background-image: linear-gradient(to right, var(--midnightcandy-rain), var(--midnightcandy-magenta));
}
#app-mount .perksModalContentWrapper-2HU6uL .tierHeaderUnlocked-1n-OTI > .tierUnlocked-25K6Kv {
  color: var(--midnightcandy-magenta);
}
#app-mount .perksModalContentWrapper-2HU6uL .tierBody-16Chc9 {
  border: 1px solid var(--background-tertiary);
  color: var(--text-normal);
  font-weight: 550;
  background-color: var(--background-secondary-alt);
}
#app-mount .perksModalContentWrapper-2HU6uL .perk-2WeBWW {
  background-color: var(--background-secondary-alt);
}

.wrapper-3nSjSv {
  background-image: linear-gradient(to right, var(--midnightcandy-rain), var(--midnightcandy-magenta));
}

.paymentHistory-2Zf4ZE .paymentPane-ut5qKZ {
  border: 1px solid var(--background-tertiary);
}
.paymentHistory-2Zf4ZE .paginator-1eqD2g,
.paymentHistory-2Zf4ZE .paymentRow-1HKOLu {
  border: none;
  background-color: var(--background-secondary);
}
.paymentHistory-2Zf4ZE .scrollerBase-_bVAAt {
  border-width: 1px;
  border-color: black;
  border-style: solid none solid;
  width: 665px;
}
.paymentHistory-2Zf4ZE .gameIcon-1mDo1J {
  background-image: url("https://discord.com/assets/386884eecd36164487505ddfbac35a9d.svg") !important;
}
.paymentHistory-2Zf4ZE .summaryInfo-3hcuop > .date-2cJd4O {
  color: var(--midnightcandy-forest);
}
.paymentHistory-2Zf4ZE .summaryInfo-3hcuop > .description-1IgJoT {
  color: var(--midnightcandy-brick);
}
.paymentHistory-2Zf4ZE .summaryInfo-3hcuop > .amount-3hAJzp {
  color: var(--midnightcandy-magenta);
}
.paymentHistory-2Zf4ZE .hoverablePayment-lE1s4t:hover {
  background-color: var(--background-secondary-alt);
}
.paymentHistory-2Zf4ZE .expandedInfo-1W31i3 {
  background-color: var(--background-secondary-alt);
}
.paymentHistory-2Zf4ZE .expandedInfo-1W31i3 .paymentText-BPrx01 {
  color: var(--text-normal);
}
.paymentHistory-2Zf4ZE .paymentHeader-2o7Phd,
.paymentHistory-2Zf4ZE .refundSubHeader-zBPAag {
  color: var(--midnightcandy-sky);
}

#app-mount .nowPlaying-zBamm2 {
  background-color: var(--midnightcandy-forest);
}
#app-mount .addGamePopout-3yePJc.elevationBorderHigh-3drnJX {
  box-shadow: 0 0 0 1px var(--background-tertiary);
  background-color: var(--background-secondary);
}
#app-mount .game-3x3aDt .gameNameInput-3TuPuA:hover, #app-mount .game-3x3aDt .gameNameInput-3TuPuA:focus {
  background-color: var(--background-secondary);
}

.botTag-7aX5WZ {
  color: var(--background-tertiary);
  background-color: var(--midnightcandy-forest);
}

.userPopout-3XzG_A {
  width: 255px;
  box-shadow: 0 0 0px 1px var(--background-tertiary);
}
.userPopout-3XzG_A .headerNormal-T_seeN {
  background-color: var(--background-secondary-alt);
}
.userPopout-3XzG_A > [class^=header]:not(.headerNormal-T_seeN) {
  background-color: var(--midnightcandy-silver);
}
.userPopout-3XzG_A > .footer-1fjuF6,
.userPopout-3XzG_A > .scrollerBase-_bVAAt {
  background-color: var(--background-secondary);
}

.root-SR8cQa .topSectionSpotify-1lI0-P {
  background-color: rgba(86, 176, 123, 0.5);
}
.root-SR8cQa .topSectionSpotify-1lI0-P .bar-1GpknY {
  background-color: rgba(0, 0, 0, 0.15);
}
.root-SR8cQa .topSectionSpotify-1lI0-P .contentImagesProfile-27BIzt {
  width: -webkit-fill-available;
}
.root-SR8cQa .topSectionSpotify-1lI0-P .fullWidth-fJIsjq {
  width: 33px;
  margin-left: 5px;
}
.root-SR8cQa .topSectionSpotify-1lI0-P .spotifyButtonLogo-2wqT62 {
  left: 7.7px;
  position: absolute;
}
.root-SR8cQa .topSectionStreaming-1Tpf5X {
  background-color: rgba(209, 36, 145, 0.5);
}
.root-SR8cQa .topSectionPlaying-1J5E4n {
  background-color: rgba(67, 152, 181, 0.6);
}
.root-SR8cQa [class^=topSection]:not(.topSectionNormal-2-vo2m) div + button .contents-3ca1mk {
  font-weight: 600;
  color: var(--background-tertiary);
}
.root-SR8cQa .body-3ND3kc {
  background-color: var(--background-primary);
}
.root-SR8cQa .connectedAccount-36nQx7 {
  border-color: var(--background-tertiary);
  background-color: var(--background-secondary);
}
.root-SR8cQa .connectedAccount-36nQx7:hover {
  background-color: var(--background-modifier-active);
}
.root-SR8cQa .connectedAccountVerifiedIcon-3aZz_K .childContainer-U_a6Yh path {
  fill: var(--background-tertiary);
}
.root-SR8cQa .connectedAccountVerifiedIcon-3aZz_K .flowerStar-2tNFCR path {
  fill: var(--midnightcandy-sky);
}

.notificationSettings-1U0JsJ .wrapper-SdcMKg {
  border: 2px solid var(--midnightcandy-rain);
}
.notificationSettings-1U0JsJ .wrapper-SdcMKg .selected-18Wszc {
  background-color: var(--midnightcandy-sky);
}

.status-12NUUC [mask*=dnd] .status-2DiCMd {
  background-color: var(--midnightcandy-brick) !important;
}
.status-12NUUC [mask*=online] .status-2DiCMd {
  background-color: var(--midnightcandy-forest) !important;
}
.status-12NUUC [mask*=idle] .status-2DiCMd {
  background-color: var(--midnightcandy-yellow) !important;
}
.status-12NUUC [mask*=streaming] .status-2DiCMd {
  background-color: var(--midnightcandy-lilac) !important;
}
.status-12NUUC [mask*=offline] .status-2DiCMd {
  background-color: var(--interactive-muted) !important;
}

.pointerEvents-9SZWKj[fill*="#f04747"] {
  fill: var(--midnightcandy-brick);
}
.pointerEvents-9SZWKj[fill*="#43b581"] {
  fill: var(--midnightcandy-forest);
}
.pointerEvents-9SZWKj[fill*="#faa61a"] {
  fill: var(--midnightcandy-yellow);
}
.pointerEvents-9SZWKj[fill*="#593695"] {
  fill: var(--midnightcandy-lilac);
}
.pointerEvents-9SZWKj[fill*="#747f8d"] {
  fill: var(--interactive-muted);
}

#app-mount .userSettingsVoice-1_dzjw .container-3NTP7o {
  background: linear-gradient(to right, var(--midnightcandy-brick), var(--midnightcandy-salmon), var(--midnightcandy-yellow), var(--midnightcandy-forest), var(--midnightcandy-sky)) !important;
}
#app-mount .userSettingsVoice-1_dzjw .container-3NTP7o > .progress-1S-TDF {
  background-color: var(--interactive-muted);
}
#app-mount .userSettingsVoice-1_dzjw .container-3NTP7o > .notches-2w7UZJ {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='black'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
}
#app-mount .userSettingsVoice-1_dzjw .inputSensitivityToggle-oHALdO .speaking-NGQNT9 {
  background-color: var(--midnightcandy-forest);
}
#app-mount .userSettingsVoice-1_dzjw .inputSensitivityToggle-oHALdO.manual-3jrUS- .fill-EvwRJ2 {
  background-color: rgba(0, 0, 0, 0.45) !important;
}
#app-mount .userSettingsVoice-1_dzjw .inputSensitivityToggle-oHALdO.manual-3jrUS- [style*="rgb(251, 184, 72)"] {
  background-color: var(--midnightcandy-yellow) !important;
}
#app-mount .userSettingsVoice-1_dzjw .inputSensitivityToggle-oHALdO.manual-3jrUS- [style*="rgb(105, 196, 154)"] {
  background-color: var(--midnightcandy-forest) !important;
}
#app-mount .userSettingsVoice-1_dzjw .previewOverlay-2reuWf {
  border: 1px solid var(--background-tertiary);
}
#app-mount .userSettingsVoice-1_dzjw .previewOverlayInner-1WXURq {
  background-color: var(--background-secondary);
}

.hljs-built_in {
  color: #6ca2b5;
}

.hljs-literal {
  color: #ff9473;
}

.hljs-number {
  color: #90c1bd;
}

.hljs-regexp {
  color: #6089d2;
}

.hljs-string {
  color: var(--midnightcandy-mint);
}

.hljs-subst {
  color: var(--midnightcandy-yellow);
}

.hljs-class {
  color: #caafed;
}

.hljs-bullet {
  color: #caafed;
}

.hljs-function {
  color: #caafed;
}

.hljs-title {
  color: #7dbbd1;
}

.hljs-variable {
  color: #7dbbd1;
}

.hljs-template-variable {
  color: #7dbbd1;
}

.hljs-function .hljs-title {
  color: #7dbbd1;
}

.hljs-doctag {
  color: var(--midnightcandy-forest);
}

.hljs-type {
  color: #2aa198;
}

.hljs-meta {
  color: #f56174;
}

.hljs-name {
  color: #f56174;
}

.hljs-link {
  color: #8ca6bd;
}

.hljs-meta-string {
  color: #8ca6bd;
}

.hljs-section {
  color: #9dede5;
}

.hljs-tag {
  color: var(--midnightcandy-light-grey);
}

.hljs-template-tag {
  color: var(--midnightcandy-light-grey);
}

.hljs-attr {
  color: var(--midnightcandy-yellow);
}

.hljs-attribute {
  color: var(--midnightcandy-lichen);
}

.hljs-code {
  color: #77eeff;
}

.hljs-quote {
  color: #f5c056;
}

.hljs-selector-tag {
  color: var(--midnightcandy-magenta);
}

.hljs-selector-id {
  color: var(--midnightcandy-forest);
}

.hljs-strong {
  color: #e86e48;
}

.hljs-selector-attr {
  color: #e86e48;
}

.hljs-selector-class {
  color: #e86e48;
}

.hljs-class .hljs-title {
  color: #e86e48;
}

.hljs-selector-pseudo {
  color: #a87bdb;
}

.hljs-addition {
  color: var(--midnightcandy-forest);
}

.hljs-deletion {
  color: var(--midnightcandy-brick);
}

.hljs-keyword {
  color: var(--midnightcandy-cotton-candy);
}

.hljs-emphasis {
  color: var(--midnightcandy-cotton-candy);
}

.hljs-meta-keyword {
  color: var(--midnightcandy-cotton-candy);
}

.hljs-params {
  color: #929396;
  font-style: italic;
}

.hljs-comment {
  color: #717171;
  font-style: italic;
}
