.isUnread-3Ef-o9 {
  border-color: var(--midnightcandy-brick);

  > .unreadPill-2HyYtt {
    background-color: var(--midnightcandy-brick);

    path {
      fill: var(--midnightcandy-brick);
      color: var(--midnightcandy-brick);
    }
  }
}