#app-mount .itemCard-3Etziu {
  .body-16rSsp {
    background-color: inherit;
  }

  .section-3G9aLW {
    margin-top: 7.5px;
    background-color: var(--background-secondary);
  }

  .separator-2OaeRP {
    display: none;
  }

  &.interactive-2zD88a:not(.active-1W_Gl9):hover {
    background-color: var(--background-secondary-alt);
  }

  &.active-1W_Gl9 {
    background-color: var(--background-tertiary);
  }
}

.peopleColumn-1wMU14 {
  background-color: var(--background-accent);

  .peopleListItem-u6dGxF {
    border-radius: 10px;
    padding: 0 15px;
    margin-bottom: 4px;
    background-color: var(--background-secondary-alt);
    border: 1px solid var(--background-secondary-alt);
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }
}
